.footer {
    width: 100%;
    background-color: #2A2C2F;
    padding: 32px 16px;
    max-width: 720px;
    margin: 0 auto; 
    box-sizing: border-box;
}

.footer__copyright {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    padding: 32px 0 0 0;
}