.intro {
width: 720px;
margin: 0 auto;
}

.intro__title {
font-family: "Inter", sans-serif;
font-weight: 900;
font-size: 54px;
line-height: 58px;
margin-bottom: 40px;
}

.intro__quote {
font-size: 24px;
line-height: 34px;
}

.intro__author {
font-size: 24px;
line-height: 34px;
text-align: right;
margin-top: 10px;
}

.intro__text {
font-size: 16px;
line-height: 163%;
margin-top: 32px;
}
