.lead {
width: 720px;
margin: 0 auto;
}

.lead__title {
font-family: "Inter", sans-serif;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
margin: 0 auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
}

.lead__image {
  padding: 148px 0 0 0;
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  .lead__title {
    font-size: 75px;
    line-height: 1.05;
  }
  .lead__image {
    margin-top: 30px;
    padding: 30px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .lead__image {
    margin-top: 40px;
  }
}
