div {
    margin: 0;
    background-color: #2A2C2F;
    width: 100%;
    max-width: 720px;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

.page {
    width: 100%;
    background-color: #2A2C2F;
    color: #ffffff;
    margin: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
    min-width: 320px;
    min-height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: border-box;
}
