body {
    margin: 0;
    background-color: #2A2C2F;
}

.page {
    width: 100%;
    background-color: #2A2C2F;
    color: #ffffff;
    margin: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
    min-width: 320px;
    min-height: 100vh;
   -webkit-font-smoothing: antialiased;
   overflow-x: hidden;

}
